[2012-11-01 22:08] Hounddog opened #71 "New Modules are showing in wrong order"
New Modules are listed oldest first currently

[2012-11-01 22:09] Hounddog opened #72 "New Developers are showing in wrong order"
Oldest are displaying first

[2012-11-01 23:16] #72 closed, assigned to nobody

[2012-11-01 23:17] #71 closed, assigned to nobody

[2012-11-04 21:37] Hounddog opened #84 "Submit/Remove Modules via ajax"
Currently the page is reloaded upon submit or remove. To make it easier to administrate modules they should be submitted via ajax

[2012-11-04 21:39] Hounddog opened #85 "Module Rating"
Users should be able to rate modules

Currently there are 2 proposals for this at hand.

1. Rating system like 1-5 points
2. Similar systems to facebook like/dislike

[2012-11-04 21:45] Hounddog opened #86 "Module Page"
Add A module page which can list more information about the selected module
1. Readme
2. License
3. Ratings
4. Comments

Download sources like packagist github etc

Contributors to this module
Owner of the module

[2012-11-04 21:46] Hounddog opened #87 "User Page"
Display information about a selected user.

Modules he owns.
Modules he contributed to

[2012-11-04 21:48] Hounddog opened #88 "Performance Improvement"
Currently parts of the page are facing huge loading times due to several repeated requests to the github api.

Locate performance bottlenecks and implement caching or over improvements.

[2012-11-04 21:49] Hounddog opened #89 "Proposal: Social Sharing of modules"
Enable a social sharing for users like twitter facebook etc.

Just an idea and not sure if really needed. Please tell us your thoughts on this.

[2012-11-04 21:56] Hounddog opened #90 "Read Details from composer"
This would allow us also if a composer.json is existing to determine dependencies or which license is existing

[2012-11-04 21:56] Hounddog opened #91 "Module Tags"
Implement a tag system for modules

[2012-11-04 21:58] Hounddog opened #92 "Feature: Star Modules"
Give users the possibility to Bookmark their favourite modules.

[2012-11-04 22:00] Hounddog opened #93 "Rest Api"
Create a rest api for 3rd party developers.

This could be used to create a Module Manager for example.

[2012-11-04 22:01] Hounddog opened #94 "Unit Tests"
Create unit tests for the current functionality to enable stability on the page.

[2012-11-04 22:16] Hounddog opened #95 "Search Engine"
The current search engine is just a like()->or->like()

Need to implement something like Lucene or Elastic search to get fast realtime search results

[2012-11-04 22:18] Hounddog opened #96 "Development Status of Module"
Provide an option to set the status of the module

e.g.
- Stable
- Alpha
- Beta

This would encourage people to submit also unfinished modules where others can find an participate to them

[2012-11-04 22:20] Hounddog opened #97 "FAQ"
1. How to submit modules
2. How does scoring work
3. Modules used for this page.

We should simply be able to add or remove faq points.
I am suggesting a new Module for this.

Propable dependencies

ZfcBase
ZfcUser
ZfcAdmin
BjyAuthorize

[2012-11-05 17:03] EvanDotPro opened #98 "Feature request: Tag modules as plugins or extensions of other modules"
Perhaps even a simple 'related modules' feature would be adequate.

(This would be low priority -- just putting it here as a reminder.)

[2012-11-06 13:49] EvanDotPro opened #102 "Tooltip with description in the "new modules" panel"
In the "new modules" panel, it would be nice to have a tooltip with the description of the module.

[2012-11-06 13:50] EvanDotPro opened #103 "Packagist integration"
It would be cool if we could detect that a module is on Packagist, and pull in the number of downloads it has and the date it was posted -- in the future this could be used as one attribute of a scoring / ranking algorithm.

[2012-11-06 14:02] EvanDotPro opened #104 "Scoring / ranking algorithm"
Once we get reviews in place this will be even a lower priority, but would still be a fun feature to implement. This idea comes from [http://knpbundles.com/](http://knpbundles.com/), however I think we can clean up the implementation.

We'll need some collaboration on how the algorithm could work, but I think instead of a "point" system like KNPBundles.com, we should look at more of a PageRank typ

[2012-11-07 00:26] Hounddog opened #105 "Organizations submit broken"
Submit of organization does not work.
The check for the module is currently only fetching from the owner/member repos.

Need to refactor this against the actual requestesd repository

[2012-11-07 14:42] weierophinney opened #108 "Pagination/listing is backwards"
Currently, modules appear to be listed in order of submission. This means the newest submissions are always on the last page.

May I suggest that the order be reversed (newest first) until a ranking system is developed?

[2012-11-07 17:03] chrvadala opened #109 "Add github stars count in projects list"
I think that this could be very usefull thing.

[2012-11-07 21:31] #105 closed, assigned to nobody

[2012-11-10 12:03] #108 closed, assigned to nobody

[2012-11-10 17:21] lorenzoferrarajr opened #114 "RSS feed"
It would be useful to have an RSS feed for newly added modules

[2012-12-19 17:48] localheinz opened #124 "GitHub login doesn't work"
First
- I'm signed in on GitHub
- I click on the link http://modules.zendframework.com/user/login/github

Then this happens
# An error occurred
## An error occurred during execution; please try again later.
### Additional information:

`Zend\Db\Adapter\Exception\InvalidQueryException`
### File:

`/var/www/vhosts/zfmodules.com/vendor/ZF2/library/Zend/Db/Adapter/Driver/Pdo/Statement.php:220`
### Mes

[2012-12-26 17:12] patrioticcow opened #125 "can't submit new module"
not sure if this is on my side, but when i try to submit a module i get:

Zend\Db\Adapter\Exception\InvalidQueryException
Message: Statement could not be executed

PDOException
SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'description' cannot be null

i would try to fix it myself, but it looks like there are some database issues

[2013-01-23 20:58] #125 closed, assigned to nobody

[2013-02-02 10:05] BinaryKitten opened #128 "ModuleName conflicts"
If two people have chosen the same name for their module, should this be a limit on them not being able to submit theirs?

Case in point https://github.com/Domi-cc/SmartyModule was forked from https://github.com/MurgaNikolay/SmartyModule about 11 months ago.

https://github.com/Domi-cc/SmartyModule is currently in a broken state and hasn't been maintained whilst the original, https://github.com/Mu

[2013-02-09 08:20] Hounddog opened #129 "Purge Deleted Modules"
If a Module has been deleted from github there is no way it can be deleted from the site currently. Wee need a way to check if modules are still existing and purge modules which have been removed.

[2013-06-09 05:54] vnagara opened #134 "Possibility to chose repo list only 8 modules"
I tried to add module for my organization libracms. There are in list only 8 modules but demanded 'libra-assets-installer' (https://github.com/libracms/libra-assets-installer) not presents.

There should be added pagination or rise limit up to 20 or there is some another reason.

![modules-bug](https://f.cloud.github.com/assets/1571419/628558/885f07d4-d0c8-11e2-80e7-e1db7ad6dc1e.jpg)

[2013-06-10 12:14] #134 closed, assigned to nobody

[2013-06-28 10:24] Hounddog opened #135 "Move Dependencies to composer"
Remove the submodules and install dependencies using composer

[2013-07-01 17:15] #114 closed, assigned to nobody

[2013-08-19 18:31] mxc-commons opened #140 "Module detection"
I'm not able to register mxc-commons/MxcLayoutScheme to modules.zendframework.com.

I guess this isssue is related to the isModule() test. MxcLayoutScheme provides a non-standard module.php.

[2013-08-27 20:06] gianarb opened #142 "New Route: list of module from user"
http://modules.zendframework.com/GianArb

Create action to see all modules for user.
Is a good idea?

[2013-08-30 11:04] gianarb opened #143 "Irc notify when will add new module"
Add event for post module add, and send a notification in `#zftalk.modules` channel

Is very low low low priority :) is it good idea?

[2013-09-04 09:10] #124 closed, assigned to nobody

[2013-09-13 05:57] Stiffel opened #144 "Module not showing under Available Modules"
I've authorized my Github account but am not seeing my module show under "Available Modules" section.

My repository is https://github.com/Stiffel/YFFootball.  Not sure what I'm doing wrong.

[2013-09-13 17:39] #144 closed, assigned to Hounddog

[2013-10-01 16:48] gol123456789 opened #146 "installing into vendor directory?"
Why is the advice to install in a vendor directory and use the git submodule --init command.
Can you simply clone the project with the --recursive option?

[2013-10-11 09:10] snapshotpl opened #147 "Adding new module"
I can't add new module (https://github.com/snapshotpl/ZfSnapJquery) to modules.zendframework.com. It's not listed on http://modules.zendframework.com/user. When I click on "My modules" I get "No modules found".

[2013-10-11 21:16] snapshotpl opened #151 "Formating license"
License isn't formating well. So this is my proposals to solve the problem:
- using pre tag
- using markdown helper
- just use nl2br

[2013-10-15 16:15] gianarb opened #152 "GaDisqus Module not found in list of modules"
Hi sorry, this is my list of modules that I can add into modules repository, but there isn't [GaDisqus](http://github.com/GianArb/GaDisqus), why? In my local installation of modules.zendframework.com I see this module.

![Screen](http://s18.postimg.org/dyw7hox0p/Schermata_2013_10_15_alle_18_05_13.png)

  Thanks!

[2013-10-20 10:05] markushausammann opened #153 "Search doesn't work good enough given it's the only way to find things"
When I search for a module with the module name di-wrapper using the search string "di wrapper" I don't find anything. Given the fact that the search is the only way of finding things, this doesn't seem sufficient.

[2013-10-29 18:02] emcode opened #155 "No sufficient permissions exception while trying to remove module from Registered Modules"
Hello, I've tried to remove module which I created few months ago and published on modules.zendframework.com. I wanted to do this just to experiment and check how it will influence my "My Modules" tab (right now I have another module which does not show up there - but its another issue which is probably resolved already by [this pull request](https://github.com/zendframework/modules.zendframework.

[2013-11-04 22:21] manuakasam opened #156 "Add Github Flavored Markdown Support"
Currently code blocks that are presented using the github flavored markdown will not be rendered correctly.

[code]
[code]

[2013-11-06 09:54] makasim opened #157 "Dont see my module in the registered list neither on organization page."
I have written module [PayumModule](https://github.com/Payum/PayumModule). I dont see it in the settings. It simply says that "No modules was submitted yet".

[2013-11-06 14:38] #140 closed, assigned to nobody

[2013-11-06 14:38] #152 closed, assigned to Hounddog

[2013-11-06 19:55] websafe opened #158 "Some modules throw exceptions on modules.zendframework.com?"
I'm not sure if it's just a temporary problem or related to this specific module:

<http://modules.zendframework.com/weierophinney/PhlySimplePage>

@weierophinney  @EvanDotPro

![zf2 modules - 2013-11-06_20 51 30](https://f.cloud.github.com/assets/412013/1486036/1990bfe8-471d-11e3-89ec-c32244f8b34f.png)

[2013-11-08 07:14] websafe opened #159 "Feature request: A simple set of rules for all modules to follow."
Of course a rule set in context of a repository of ZF modules, a set of rules that helps developers to find and identify Zend Framework modules, even if they're not in this (or any other) repository.

Maybe a good starting point would be simple requirement of `"type": "zf-module"` in the `composer.json` of ZF modules?

I really don't want to force developers to do crazy things, or create additiona

[2013-11-11 01:29] websafe opened #161 "Can't register new modules."
For the last days I'm trying to register my modules with modules.zendframework.com, but I see only "Sychronizing with Github" and then "No modules found".

I've cloned this repo locally, installed and configured and I was able to fetch my GitHub located modules without problems (http://zfmod.uplink-meganet.websafe.pl/).

I've tried different browser, revoked access and then authenticated again, no

[2013-11-12 03:33] #161 closed, assigned to nobody

[2013-11-13 00:20] zelf opened #165 "Bug on some modules pages when the module is deleted"
http://modules.zendframework.com/weierophinney/PhlyMongo

I checked his Github and the project is deleted.

![zf2 modules 2013-11-13 11-16-20](https://f.cloud.github.com/assets/989504/1527614/f24f8dac-4bf8-11e3-85d5-a388a868119e.png)

EDIT: Sorry, duplicate, bug already reported @weierophinney @EvanDotPro

[2013-11-13 13:38] #165 closed, assigned to nobody

[2013-11-13 17:08] snapshotpl opened #166 "Deploy modules.zendframework.com"
[code]

I think this cron job doesn't work. Pull requests #162 #163 and #164 doesn't implement on http://modules.zendframework.com/

[2013-11-15 14:09] #166 closed, assigned to nobody

[2013-11-16 01:57] websafe opened #168 "Fatal error: Call to a member function getBody() on a non-object in /srv/hounddog/var/www/vhosts/modules.zendframework.com-201311151404/vendor/EdpGithub/src/EdpGithub/Api/AbstractApi.php on line 24"
After submitting a new module I've visited the modules page:

http://modules.zendframework.com/websafe/zf-mod-zfc-user-i18n-de-de

And saw the following message:

[code]

After refreshing a few times, problem is gone and can't reproduce now, but it should be easy by just submitting a new module and visiting this modules page.

[2013-11-16 02:08] websafe opened #169 "Markdown in readme - code blocks errors."
Please compare the readme in one of these:

 + http://modules.zendframework.com/websafe/zf-mod-zfc-user-i18n-de-de
 + http://modules.zendframework.com/websafe/zf-mod-zfc-user-i18n-pl-pl
 + http://modules.zendframework.com/websafe/zf-mod-zfc-user-i18n-ja-JP

with the same files parsed by GitHub:

 + https://github.com/websafe/zf-mod-zfc-user-i18n-de-de/blob/master/README.md
 + https://github.com/we

[2013-12-04 14:34] Hounddog opened #173 "Read data from packagist"
Read information from packagist using https://github.com/Hounddog/HdPackagist

[2013-12-19 19:25] cstrosser opened #174 "Module not displayed in "My Modules""
No more than a day ago, I posted a new module to modules.zendframework.com.  Today, I noticed that the description was incomplete.  I couldn't find a way to force an update (like on Packagist) or edit it, so I thought deleting and re-adding the module might refresh it.  I was unable to test this theory because the module no longer appears under "My Modules."  I tried logging out of GitHub, ZF2 Mod

[2014-01-04 19:21] Hounddog opened #175 "Maintenance"
Currently it is not possible to maintain this site anymore as we have pull requests in the queue which need handling by the serveradmin @EvanDotPro . I am open for suggestions as to how to handle this now and in the future.

[2014-01-29 22:47] coogle opened #176 "Fatal Error on modules.zendframework.com"
This is presently live:

http://modules.zendframework.com/coogle/Logger

Fatal error: Call to a member function getBody() on a non-object in /srv/hounddog/var/www/vhosts/modules.zendframework.com-201311151404/vendor/EdpGithub/src/EdpGithub/Api/AbstractApi.php on line 24

[2014-02-11 08:36] gianarb opened #178 "Github stats into single module page"
Hi! EdpGithub now could [resume stats](https://github.com/EvanDotPro/EdpGithub/issues/16) of repository, how can we use it to represent quality of module into the modules repository?

[2014-05-20 10:24] heronour opened #181 "Error in this link: http://modules.zendframework.com/jhonmike/Zf2Acl"
![zf-error-20-05-2014](https://cloud.githubusercontent.com/assets/1563927/3025697/d71834fe-e008-11e3-9ac2-a02aa9ae351c.PNG)

[2014-05-22 10:05] Mohit-Singh opened #182 "Error page on access this link:- http://modules.zendframework.com/MohitOssCube/ZF2Booster"
I have changed my user name in git hub after that, when I am access the following URL

http://modules.zendframework.com/MohitOssCube/ZF2Booster

an error exception comes please verify the same.
![screenshot from 2014-05-22 15 29 24](https://cloud.githubusercontent.com/assets/3784341/3052275/6ff32d74-e198-11e3-8af1-927a6cdb66be.png)

[2014-06-30 16:43] snapshotpl opened #183 "Service Temporarily Unavailable"
Home page is down.

[2014-07-18 10:40] #183 closed, assigned to EvanDotPro

[2014-07-22 18:28] #174 closed, assigned to Ocramius

[2014-07-22 18:37] gianarb opened #186 "Tag proposal"
Is possible tag this project after 0f69d3d1dcbedfaa90d87cb2a1e66fd9a1e5dbfa commit?!

After apigility init integration..

[2014-07-22 18:38] #176 closed, assigned to Ocramius

[2014-07-22 19:01] #147 closed, assigned to Ocramius

[2014-07-28 19:39] #151 closed, assigned to Ocramius

[2014-07-28 19:39] #146 closed, assigned to Ocramius

[2014-08-07 16:53] nickurt opened #188 "Github Login -> Duplicate entry '' for key 'email'"
When using the github login ...

    SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '' for key 'email'

[2014-08-07 21:51] cerealean opened #189 "Github information not found"
When I am trying to add modules or go through my organizations, none of my information is being found. I originally thought this was related to [this issue](https://github.com/zendframework/modules.zendframework.com/issues/188), however my coworker [lepermessiah57](https://github.com/lepermessiah57) did not have login issues and his Github information is not being loaded either.

When I click "My

[2014-08-11 08:26] plasid opened #190 "profile images too big"
Since http://modules.zendframework.com has been restored from the harddrive failure the contributor profile images are too big, it is difficult to view the module name and description as it overlaps the image.

The official ZF2 modules website looks bad and does not work well, and it surely does not contribute to the community sentiment and especially that of dev companies and developers looking t

[2014-08-11 08:31] plasid opened #191 "contributors rating system"
I have suggested that a rating/vote system be implemented on modules.zendframework.com, this will save time having to sift through hundreds of modules, installing, fiddling and eventually realizing it was a bad quality module, you can also award reputation points to contributors - work it and grow it, it is currently very bland.

[2014-08-11 11:11] #191 closed, assigned to nobody

[2014-08-11 11:13] #190 closed, assigned to Hounddog

[2014-08-20 04:54] eddiejaoude opened #193 "Is there an issue with the site? Rate limit exception?"

[2014-08-27 05:43] eddiejaoude opened #195 "Login with Github issue `duplicate key`"
[code]

[2014-09-01 17:09] Hounddog opened #196 "Query route deprecated."
Need to replace query router through query option

[2014-09-08 10:16] stevleibelt opened #197 "Proxy Error"
I've no idea why but whenever I want to go to "My Modules" section it get the following error as response (in the hidden [AJAX](http://modules.zendframework.com/module) call).

[code]

I've no idea how to debug this but I would like to add my module to the index.

[2014-09-08 17:30] jeanCarloMachado opened #199 "Another person registered module on my list."
When logged in from Github, on the Registered Modules list appeared a project from another person. Including the remove button, fortunately the site did not let me remove it.

The list of the projects with one that I do not know.
![screen shot 2014-09-08 at 14 24 39](https://cloud.githubusercontent.com/assets/2252355/4189602/b1197372-377d-11e4-8c02-19e06e0737fe.png)

This is the error when i tried

[2014-09-10 09:55] countless-integers opened #200 "API limit reached on module info page"
module info page errors out most of the time e.g., http://modules.zendframework.com/webino/WebinoImageThumb because of the github api limits for unauthenticated requests.
msg as follows:
`API rate limit exceeded for 184.105.241.70. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)`

[2014-09-12 07:23] prolic opened #201 "Cannot add new modules any more"
I go to http://modules.zendframework.com/user and click on "My Modules". It comes a preloader-image with the message: "Synchronizing with Github". That's it. Never got any further. It used to work in the past, but the last modules I published couldn't get annouced at modules.zendframework.com.

[2014-09-24 07:25] dudapiotr opened #202 "Why can't display my module"
Hi,
I try to publish my new module but I can see either in modules nor in my organization...
I've forked from organization to my profile and have the same.

Base module  -
https://github.com/HyPhers/visio-crud-zf2

Forked module
https://github.com/dudapiotr/visio-crud-zf2

Could anyone tell me what am I doing wrong?

[2014-10-03 09:29] dudapiotr opened #203 "API rate limit exceeded"
![image](https://cloud.githubusercontent.com/assets/2759181/4503982/bf2feaa2-4adf-11e4-83bc-d7e3d8f3f88d.png)

[2014-10-09 12:55] gianarb opened #204 "I show ZfcUser in my list of module"
Hi! I show ZfcUser in my list of registered module..
But it is not mine :+1:

[2014-10-09 13:15] gianarb opened #205 "Synchronizing with Github"
Sorry but this feature works? I'm waiting for a long time and
[code]
http://modules.zendframework.com/user

Return
GET http://modules.zendframework.com/module 502 (Proxy Error)

Thanks

[2014-11-03 12:08] mikemix opened #206 "Registered modules showing not my list!"
I have created a module https://github.com/mikemix/dompdfmodule while a module with the same name is available at https://github.com/raykolbe/DOMPDFModule

Anyway, when I log in to modules.zendframework.com, in the "registered modules" tab, raykolbe's module is visible instead of mine!

[2014-11-17 09:34] #186 closed, assigned to nobody

[2014-11-17 09:35] #143 closed, assigned to nobody

[2014-11-17 09:35] #142 closed, assigned to nobody

[2014-11-17 09:36] #178 closed, assigned to nobody

[2014-11-18 16:45] localheinz opened #212 "Vagrant up doesn't bring the machine up as it probably should"
[code]

doesn't result in the machine being brought up as expected.

This has already been mentioned in https://github.com/zendframework/modules.zendframework.com/pull/187#issuecomment-51773218, but as pointed out there, this is a deal breaker for people willing to contribute.

Can someone please have a look?

Here's the console output of my attempt:

[code]

[2014-11-22 22:48] localheinz opened #222 "Master should reflect deployable state"
Leaving this as a note here since it was briefly discussed with @EvanDotPro:
- the current `master` is apparently not deployable
- the currently deployed commit is bf94a12cbaa352e602973a2d8dd760fbdea2abf2

I suggest to do the following to have `master` reflect the deployable state of the app:
- [x] rename `master` to `develop`
- [x] create a new master off of bf94a12cbaa352e602973a2d8dd760fbdea2ab

[2014-12-03 11:38] gianarb opened #233 "Error after Gihub Login"
![](http://s28.postimg.org/n6bq6qsp9/Screenshot_from_2014_12_03_12_33_34.png)

Hi! I have this error after Github login.. I have see this error into #187

This is my fix test
https://github.com/Hounddog/modules.zendframework.com/pull/57

Good works

[2014-12-05 12:22] #233 closed, assigned to nobody

[2014-12-05 12:45] gianarb opened #240 "[BUG] Notice: Undefined variable: module"
Notice: Undefined variable: module in /var/www/module/ZfModule/src/ZfModule/Service/Module.php on line 68

![](http://s15.postimg.org/uehw2rx23/bugmessage.png)

[2014-12-05 21:59] ins0 opened #242 "logout route not used in small header layout"
in [layout-small-header.phtml](https://github.com/zendframework/modules.zendframework.com/blob/master/module/Application/view/layout/layout-small-header.phtml#L50) the route `zfcuser/logout` is not used and generate on repo detail pages a wrong logout url like `/reponame/user/logout`

[2014-12-06 10:33] #240 closed, assigned to localheinz

[2014-12-06 11:20] #242 closed, assigned to nobody

[2014-12-06 11:22] #222 closed, assigned to nobody

[2014-12-06 12:01] #206 closed, assigned to nobody

[2014-12-06 13:28] ins0 opened #246 "unregistered repositorys can be viewed on detail page"
if a user create on github a repository name that is allready registered on site - the detail view checks if the repo name is registered found a registered module like ``someuser/test-repo`` and allow the view to ``ins0/test-repo``

i create a test issue repo - http://modules.zendframework.com/ins0/ZF2-AcYaml

[2014-12-06 18:21] localheinz opened #251 "Unknown column 'state' in 'field list'"
Following https://github.com/zendframework//pull/250 I tried to sign in into the app, which resulted in the following exception being displayed:

### Exception

`Zend\Db\Adapter\Exception\InvalidQueryException`

### File

`vendor/zendframework/zendframework/library/Zend/Db/Adapter/Driver/Pdo/Statement.php:244`

### Message

[code]

### Stack Trace

[code]

Given that I'm working with a database du

[2014-12-06 23:51] gianarb opened #253 "Apigility? What is point of this feature?"
Hi! Can we move apigility dependencies for example in a WIP branch or to resend this feature for another time?

[2014-12-07 01:06] ins0 opened #254 "cache response check allways fails"
can someone please confirm this - from my point of view it seems the github api response check ``$response->getStatusCode() == 304 && $hasCache`` results on my plattform everytime to a cache miss because the status code ``304`` is never returned - so the cache check allways misses and forced to call the api again which results in other issues like #203.

the check was implemented in 2013 maybe thi

[2014-12-07 10:53] samsonasik opened #256 "Error in user page in "My Modules" tab"
[code]

![screen shot 2014-12-07 at 5 51 02 pm](https://cloud.githubusercontent.com/assets/459648/5330701/cc76dab2-7e39-11e4-82e2-31f665dcb24f.png)

[2014-12-07 17:23] localheinz opened #257 "When signing up and having multiple email addresses, not the primary one is used"
When signing up while having multiple email addresses at GitHub, not the primary one is used but the first one returned.

I have signed up, but `email@example.com` is not my primary email address (it's an example, of course).

[code]

Blocked by https://github.com/hybridauth/hybridauth/pull/360.

[2014-12-07 18:36] #253 closed, assigned to nobody

[2014-12-08 07:19] ins0 opened #260 "Server response with 503"
@GeeH Server response with Service Temporarily Unavailable

[2014-12-08 10:58] localheinz opened #261 "Question: Shall we switch to using Doctrine?"
In the light of recent database schema issues, I opened a PR adding Doctrine migrations.

While I have some concerns whether this is overkill, are there any reasons not to use Doctrine for entities as well?

Related to

* https://github.com/zendframework/modules.zendframework.com/issues/251
* https://github.com/zendframework/modules.zendframework.com/pull/252

/cc @gianarb @ins0 @GeeH

[2014-12-13 16:25] #256 closed, assigned to nobody

[2014-12-15 10:03] GeeH opened #284 "Urgent: Rename domain name to zf2modules.com"
At the moment, the domain name modules.zendframework.com is under the control of Zend. As they don't want to point their domain name at an external server, at this point there is a proxy server at Zend that forwards all requests to modules.zendframework.com to the internal domain name of the server at Roave.

It seems that this server is currently down, and getting some answers and support from Ze

[2014-12-15 13:12] gianarb opened #285 "[BUG] Redirect Github Auth"
Hi! Github Login by zfmodules.com redirect to
http://modules.zendframework.com/scn-social-auth/hauth?hauth.start=GitHub&hauth.time=1418627468

[2014-12-15 13:13] #285 closed, assigned to nobody

[2014-12-15 14:52] #260 closed, assigned to nobody

[2014-12-16 13:40] ins0 opened #288 "Github API calls not authenticated?"
I just notice that the current example configs don't configure the EdpGithub service with a valid client id and client secret (only SocialAuth).

can someone with full access to the server please check if EdpGithub gets configured in one of the application configuration files?

just to make sure our api calls against github are not more limited because of unauthenticated requests.

[2014-12-23 13:30] heiglandreas opened #296 "Login from zfmodules.com via github doesn't seem to work"
Sorry to say, but *I* encounter an error-message when I try to log in via github.

To reproduce:

Open http://zfmodules.com and click onto the "Github login" link.

I then see the URL http://www.zfmodules.com/user/login/github being called and the server returns

    This view is generated by the Error Module
     An error occurred
    An error occurred during execution; please try again later.

O

[2015-01-07 14:31] weierophinney opened #297 "[URGENT] All individual module pages return 500 currently"
After going to modules.zendframework.com, click on any module to get a description; as an example, http://modules.zendframework.com/neoglez/BatchManager

All of these pages result in a 500.

Ping @Hounddog @GeeH

[2015-01-10 17:54] ins0 commented on #288
ping @GeeH

[2015-01-10 19:00] localheinz commented on #284
@GeeH

Is that actually **PHP 5.6.4**? Asking for a friend!

/cc @ins0

[2015-01-10 19:05] qmanjr5 commented on #284
Yes, it is using PHP 5.6.4.

[2015-01-10 19:26] localheinz commented on #284
@qmanjr5

Thank you, that is really great to hear!

@ins0

You can disregard my comments related to this, then!

[2015-01-11 10:57] localheinz commented on #297
@weierophinney

I sent you an :email:!

[2015-01-11 17:51] GeeH commented on #297
[code]

[2015-01-11 17:56] GeeH commented on #297
Taking comments on how to fix this, I guess there is a config file missing?

[2015-01-11 17:57] localheinz commented on #297
@GeeH

I'll have a look, just need to sort out a :cake: first!

[2015-01-11 17:57] ins0 commented on #297
``Hybridauth Library needs the CURL PHP extension`` ?

[2015-01-11 17:57] Ocramius commented on #297
@GeeH requires the curl extension to be installed in production.

[2015-01-11 17:58] localheinz commented on #297
The `Hybridauth` thing could really use some :heart:, has anyone ever had a look at it? See here https://github.com/hybridauth/hybridauth

[2015-01-11 18:04] localheinz commented on #297
@GeeH

Hybridauth says it needs it, right here:

* https://github.com/hybridauth/hybridauth/blob/master/composer.json#L21

[2015-01-11 18:11] GeeH commented on #297
Closed, fixed by installing curl support.

[2015-01-11 18:19] ins0 opened #300 "Github Oauth Redirect URL missmatch"
the github login returns following error

``http://modules.zendframework.com/?error=redirect_uri_mismatch&error_description=The+redirect_uri+MUST+match+the+registered+callback+URL+for+this+application.&error_uri=https%3A%2F%2Fdeveloper.github.com%2Fv3%2Foauth%2F%23redirect-uri-mismatch``

[2015-01-11 18:23] GeeH opened #301 "Arrange Meeting for Modules discussion"
Is anyone at PHP Benelux? If so let's meet there, otherwise lets hangout - I have no idea whats going on and whats working and what isnt.

[2015-01-11 18:24] localheinz commented on #301
I will be there and I'm looking forward to see you there!

[2015-01-11 18:24] GeeH commented on #301
:+1:

[2015-01-11 18:25] Ocramius commented on #301
Will be around \o/

[2015-01-11 18:31] GeeH opened #302 "A New 500 Error on the modules page"
[code]

Any ideas?

[2015-01-11 18:31] GeeH commented on #302
For info, I just got Kairos to deploy latest version of the code from master so we knew where we were, and we get this error.

[2015-01-11 18:31] localheinz commented on #302
@GeeH

Thanks for the update!

[2015-01-11 18:32] GeeH commented on #302
/cc @qmanjr5 for info

[2015-01-11 18:36] ins0 commented on #302
looks like the github cache is missing/not configured?

[2015-01-11 18:37] localheinz commented on #302
Maybe related to #299?

@GeeH

Maybe we should revert it for now?

[2015-01-11 18:46] GeeH commented on #302
Rolled back, but now we has API rate limiting again - ARGH!

[2015-01-11 18:56] ins0 commented on #302
@GeeH please look at #288 - the Github API doc says ``Invalid tokens will return 404 NOT FOUND.`` this maybe explain the ``Not Found`` error message - i can't repoduce this error - even with #299 there is no error - the only difference is that i use local a different oauth key + secret

[2015-01-12 15:32] weierophinney commented on #297
@GeeH except that the page I linked is still showing a 500...

[2015-01-12 15:38] GeeH commented on #297
Works on my machine! http://c.hock.in/40fcf1.png

Not there are sometimes random 500 errors because of the terrible way the app hits GitHub's API

[2015-01-12 15:40] ins0 commented on #297
Works on my system, too.

[2015-01-13 12:37] alexz707 opened #305 "DEMO: New ZF2modules site with rating and comments!"
Hi!

We would like to show you the zf2 modules site which we developed. It includes ratings (currently based on user-rating), comments, filters and tags!

See attached screenshot or you can try it on the following server:

http://54.175.68.84/

Due to many changes in the source we created a new repository under:

https://github.com/PHP-Unlimited/ZF2-Modules-Site

Please let us know what you think!

[2015-01-13 14:04] gianarb commented on #305
wow!

[2015-01-13 14:23] gianarb commented on #296
I don't know but maybe.. today there is a different problem
If you click to Login return this:

http://modules.zendframework.com/?error=redirect_uri_mismatch&error_description=The+redirect_uri+MUST+match+the+registered+callback+URL+for+this+application.&error_uri=https%3A%2F%2Fdeveloper.github.com%2Fv3%2Foauth%2F%23redirect-uri-mismatch

[2015-01-14 13:31] gerardZf2Comments commented on #297
If this is all due to the Github quota limit should the advice on the Github api documentation not be followed? Their advice is to implement caching for api calls and that you can also request a higher limit which if granted would stop the site being broken for now. The api call's use a zend\http\client object which returns a http response object can be checked for  it's status code and it's heade

[2015-01-14 13:47] gerardZf2Comments opened #306 "adding a module"
I cloned this project from git and set up a db and git keys.
Now I try to add a module from Github and get a sql error.
"Statement could not be executed (23000 - 1048 - Column 'module_id' cannot be null)"

This is an insert statement and I believe module_id column should be auto-increment. This isn't the case if you use the .sql file in the git.

The module mapper's insert looks like this. What's

[2015-01-14 13:51] ins0 commented on #297
the current github lib had a cache allready implemented and use it to call against the api endpoint, see https://github.com/EvanDotPro/EdpGithub/blob/master/src/EdpGithub/Listener/Cache.php

limited api calls can be a reason like #288 - or we need to ask github for more quota but first we need to make sure the application itself is not the real problem (and currently it is)

one problem is that th

[2015-01-15 10:18] gerardZf2Comments commented on #297
So if I created a branch with everything fixed would someone be available to merge it? Is this site not automatically deployed every 10 minutes as it says in the read me? Is there a branch currently being worked on to resolve this issue?

[2015-01-15 10:19] GeeH commented on #297
Did you submit PR?

On 15 January 2015 at 10:18:29, gerardZf2Comments (notifications@github.com) wrote:

So if I created a branch with everything fixed would someone be available to merge it? Is this site not automatically deployed every 10 minutes as it says in the read me? Is there a branch currently being worked on to resolve this issue?

—
Reply to this email directly or view it on GitHub.

[2015-01-15 10:23] gerardZf2Comments commented on #297
No. I might try but I don't want to start coding if it might conflict with another fix.

[2015-01-15 10:26] GeeH commented on #297
We are meeting up to discuss the project, where we are, what we need to get this fixed etc at PHP Benelux next week. Until that point I’m loathed to merge anything as we may need to revert. Would you be OK to hold off on this for a week or so please?

G

On 15 January 2015 at 10:23:40, gerardZf2Comments (notifications@github.com) wrote:

No. I might try but I don't want to start coding if it might

[2015-01-15 10:35] gerardZf2Comments commented on #297
Ok.

I read the cache class mentioned by @ins0 and have a doubt.
There are included the lines -
if ($statusCode == 304) {
            $response =  $cache->getItem($this->cacheKey);
        } else {
            $cache->setItem($this->cacheKey, $response);

Seems like invalid responses would be cached. No?

[2015-01-15 12:40] ins0 commented on #297
yeah the current github client need some fresh PR agree - currently i think the main issue for the api limit is #288 - the issue u notice above hits only in if the quota limit is reached. however lets wait after benelux.

[2015-01-16 08:48] gerardZf2Comments commented on #251
The comiit 7870422 changes the module_id column of module table from being auto incrementing. Why was it done? Does it cause an error when adding a new module?

[2015-01-16 08:57] gianarb commented on #251
I don't remember but maybe this bug is a fix ( :boom: ) of this #206..
@ins0 do you remember? :D

[2015-01-16 09:09] ins0 commented on #251
don't know but some of the changes improve the sql but some changes like the ``auto_increment`` looks like a misstake to me - can't be a fix for #206 as it is a 4 months old commit. @Danielss89 may have some ìnfo about these changes back in the days?

[2015-01-18 17:12] localheinz opened #308 "ViewHelpers should not access database layer"
Because that really shouldn't happen, should it?

[2015-01-18 17:12] localheinz commented on #308
See

* https://github.com/zendframework/modules.zendframework.com/pull/307#discussion_r23134821
* https://github.com/zendframework/modules.zendframework.com/pull/307#discussion_r23134827
* https://github.com/zendframework/modules.zendframework.com/pull/307#discussion_r23134833

[2015-01-20 10:48] alexz707 commented on #305
Just a little update and some technical details:

Currently the system is on an amazon ec2 instance (c4 large, us-east-1).
The system includes Apache 2.4, PHP 5.6 + OPC , Elasticsearch 1.3.6, MariaDB 5.5, Memcached.
It supports fuzzy fulltextsearch, filtering by tags, users, requirements, modulename and rating.

The continuous delivery process works via Github, Scrutinizer,  Amazon Codedeploy and

[2015-01-22 12:26] ins0 commented on #288
@geeh got some time to setup a config file for the github client? as we now the request are not authenticated against the api?

[2015-01-22 12:29] GeeH commented on #288
I have a prototype solution that works, will pr today
On 22 Jan 2015 13:26, "Marco Rieger" <notifications@github.com> wrote:

[2015-01-22 12:30] ins0 commented on #288
sounds good thanks

[2015-01-22 15:12] #302 closed

[2015-01-22 22:37] snapshotpl commented on #300
Still there. I think someone need to change url in oauth configuration

[2015-01-23 18:19] localheinz opened #315 "Cache directory for HTMLPurifier is not writable"
When navigating locally to

* http://modules.zendframework.dev/neoglez/BatchManager

the following error is triggered

@ins0

Do you want to take a look at this since you introduced the view helper?  I think it needs proper [configuration](http://htmlpurifier.org/live/configdoc/plain.html#Cache.SerializerPath), maybe something in `data/cache/html-purifier/` or so, otherwise it will fall back to it

[2015-01-23 18:21] ins0 commented on #315
i will

[2015-01-23 18:23] GeeH commented on #315
Permissions error fixing now
 On 23 Jan 2015 19:22, "Marco Rieger" <notifications@github.com> wrote:

[2015-01-23 18:25] GeeH commented on #315
I was wrong, I missed the development.

On 23 January 2015 at 19:22:01, Marco Rieger (notifications@github.com) wrote:

i will

—
Reply to this email directly or view it on GitHub.

[2015-01-23 18:27] ins0 commented on #315
pr will show up in a few minutes

[2015-01-23 18:29] localheinz commented on #315
Awesome, great job @ins0!

[2015-01-23 18:59] #315 closed

[2015-01-23 19:10] localheinz commented on #301
Guess this can be closed, no?

:trollface:

[2015-01-23 19:10] #301 closed

[2015-01-23 19:10] localheinz commented on #261
Closing this for now after discussion with @GeeH, we don't just need it yet.

[2015-01-23 19:10] #261 closed

[2015-01-23 19:36] ins0 commented on #181
@GeeH @localheinz can be closed no?

[2015-01-23 19:40] ins0 commented on #254
closing this after the affected code was removed

[2015-01-23 19:40] #254 closed

[2015-01-24 11:36] #158 closed

[2015-01-24 11:36] #182 closed

[2015-01-24 11:41] GeeH opened #327 "Fix PHPMD by telling it to ignore Module.php files"
I have no idea how to do this so I just disabled mess detection in the short term.

[2015-01-24 11:42] GeeH commented on #305
This looks very good, HOWEVER, we don't have any interest in replacing the entire site with what you've coded. The appropriate way to introduce these features is with a series of pull requests. Thanks for the effort but it's currenty unusable.

[2015-01-24 11:42] GeeH commented on #297
Fixed.

[2015-01-24 11:42] #297 closed

[2015-01-24 11:43] #193 closed

[2015-01-24 11:43] #200 closed

[2015-01-24 11:43] #203 closed

[2015-01-24 11:43] #204 closed

[2015-01-24 11:43] #288 closed

[2015-01-24 11:44] #181 closed

[2015-01-24 11:44] #168 closed

[2015-01-24 11:44] GeeH commented on #156
Duplicate.

[2015-01-24 11:44] #156 closed

[2015-01-24 11:52] GeeH commented on #88
Fixed.

[2015-01-24 11:52] #88 closed

[2015-01-24 11:55] #94 closed

[2015-01-24 11:58] GeeH commented on #300
I need to get hold of someone with access to the Github application; on it :)

[2015-01-24 12:18] snapshotpl commented on #300
Absolutly. Without this nobody can add something. Can you add for this `high priority` and `Bug` labels?

[2015-01-24 15:55] #196 closed

[2015-01-24 16:04] ins0 commented on #327
i wouldn't be sad if this stays out of travis

[2015-01-24 17:41] GeeH commented on #296
it's weird, the github application actually has the right callback url. I'm stumped.

[2015-01-24 18:19] #169 closed

[2015-01-24 18:49] ins0 commented on #296
@GeeH is the redirect url with url path or just the host? so it should be only ``http://modules.zendframework.com/`` as callback

[2015-01-24 19:06] GeeH commented on #296
Which is exactly what it is!

On 24 January 2015 at 19:49:29, Marco Rieger (notifications@github.com) wrote:

@GeeH is the redirect url with url path or just the host? so it should be only http://modules.zendframework.com/ as callback

—
Reply to this email directly or view it on GitHub.

[2015-01-24 19:08] ins0 commented on #296
go home github api you're drunk :beers:

[2015-01-25 02:01] ins0 commented on #296
@GeeH don't know where but the redirect to github looks on production like this ``https://github.com/login/oauth/authorize?client_id=e00c0cc9c5eab5a04653&redirect_uri=http%3A%2F%2Fzfmodules.com%2Fscn-social-auth%2Fhauth%3Fhauth.done%3DGitHub&response_type=code&scope=user%2C+public_repo%2C+`` so the github application configured is not from the github account where u lookup the url or somewhere in

[2015-01-25 08:50] GeeH commented on #296
OK, I need to figure out where that url is configured, and how to fix it; thanks!

On 25 January 2015 at 03:01:26, Marco Rieger (notifications@github.com) wrote:

@GeeH don't know where but the redirect to github looks on production like this https://github.com/login/oauth/authorize?client_id=e00c0cc9c5eab5a04653&redirect_uri=http%3A%2F%2Fzfmodules.com%2Fscn-social-auth%2Fhauth%3Fhauth.done%3DGitH

[2015-01-25 09:31] herbert-roth commented on #305
This site was a way of passing the time over the Chrismas holidays. So i dont spend any time in thinking of backwards compatibility.
To upgrade with a series of pull requests i have to start all over again, but holidays are over now.

So we keep the test server up and the repos online until the end of the month.
If anyone is interested in this project or parts of it, feel free to use it.

Thanks f

[2015-01-25 12:28] ins0 opened #337 "Adding modules currently unavailable"
because of the module hydrathor and the changes from commit https://github.com/zendframework/modules.zendframework.com/commit/c29ba795a483a42bd681cf6f61e5e08604bd8c29#diff-a97d55a60a4fa4a22114687d482b38e4R88

adding modules result in an hard error ``DateTime to string`` failure.

[2015-01-25 14:24] snapshotpl commented on #337
That's why I don't like ClassMethodHydrator ;)

[2015-01-25 20:48] gianarb commented on #305
@herbert-roth maybe you can send a PR with first step of graphic improvements without ranking and discussion..
Into the next steps this new features :+1: For you is a possible flow?

[2015-01-25 21:48] diemuzi commented on #300
Same here, been trying for days and still no luck.

[2015-01-26 07:24] ins0 commented on #305
as geeh and gianarb allready said, i really like this design and would love to see this in a couple of weeks in master.

[2015-01-26 11:30] localheinz commented on #305
I think it's a great idea to contribute, but I'm not so sure what you guys thought would be the way of integrating your changes into this repository.

First of all, I don't get why you split the repository instead of just forked it, maybe you can elaborate?

Your commit history is currently 68 commits, how did that happen? Did you rewrite the history?

[2015-01-26 12:53] herbert-roth commented on #305
@localheinz I developed this on my machine locally, so there is no long commit history available.
We started to commit after my colleague and me worked together on some bugs and the continuous delivery process.

The reason why i am split the repositories was, because i know it would be a too complex job to integrate it into the old repository via pull request.
We don’t use a DB anymore to store mo

[2015-01-26 13:21] ins0 commented on #305
@herbert-roth everyone here appreciate your work but it is hard now to review a full project.

please don't get me wrong but from my point of view this repo lacks in code quality and missed code reviews as u start developing without let someone notice here or open a issue/pr.

the benefits of this repo are its well known developers and there suggestions for you and the project itself.

maybe you c

[2015-01-26 14:13] alexz707 commented on #305
@ins0  can you give us some more details about the alleged lack of code quality ? We really want to improve ourselves if there is something wrong ;) 

Normally I would say PR are the way to do a rewrite BUT when the data needs to be migrated as well as the infrastructure is changed (elasticsearch) it's not really possible. So the small chunks wouldn't be working too...
Or do you have  solution for

[2015-01-26 14:26] ins0 commented on #305
@alexz707 i'm not one of the well know and experienced developers here but these files catch my attention

https://github.com/PHP-Unlimited/ZF2-Modules-Site/blob/master/module/ZfModule/src/ZfModule/Connection/Client/SingleServer.php#L27
why the ``if else`` for the ``new Client`` if only the bool param changes

https://github.com/PHP-Unlimited/ZF2-Modules-Site/blob/master/module/Core/src/Core/Utils

[2015-01-26 15:28] gianarb commented on #305
@alexz707 code refactoring is a very difficult work :) A big feature is a problem for the maintainers.. This feature leaves the old history, the merge is a big problem.

ElasticSearch is a good idea but it's not the priorities now, in more who manage in production this service?

For me this update require answers at questions not made..
Can you help this project with little part of your code step

[2015-01-26 15:40] EvanDotPro commented on #305
As a side note, I just want to clarify that my team at Roave and I manage the production env for the modules site currently, and we are _more_ than happy to work with contributors to deploy any necessary new technologies that aren't already in the stack, time permitting, and as long as it's the right tool for the job. :)

[2015-01-26 15:42] ins0 commented on #305
:+1:

[2015-01-26 16:08] gianarb commented on #305
@EvanDotPro perfect! :) Thanks

[2015-01-27 15:28] basz commented on #300
I have the same issue @GeeH a recognizable problem?

[2015-01-27 16:05] gianarb commented on #300
@basz this is a general problem.. Fix is work in progress :+1:
You can see #296

[2015-01-27 18:41] adamlundrigan commented on #306
That is indeed an issue with [the schema](https://github.com/zendframework/modules.zendframework.com/blob/master/data/sql/0.sql#L11).  Could you send a PR to the sql schema which adds autoinc to that field?

[2015-01-27 19:32] adamlundrigan opened #342 "Reduce requested GitHub permissions to minimum"
When signing in via GitHub the site requests a lot of permissions it shouldn't need:

![image](https://cloud.githubusercontent.com/assets/527329/5925386/c5435ca8-a63d-11e4-83e9-0eea397c30de.png)

[2015-01-27 20:07] ins0 commented on #342
:+1: will add this with hope the github login issue will be fixed in the future :trollface:

[2015-01-28 00:05] adamlundrigan opened #349 "Strategies to avoid hitting the rate limit?"
At the very least we should be caching the result of API calls used to generate the [module view page](https://github.com/zendframework/modules.zendframework.com/blob/master/module/ZfModule/src/ZfModule/Controller/IndexController.php#L56-65).  A better solution might be to follow Packagist's lead: indefinitely cache the initial result during module add, then listen for repository changes via a web

[2015-01-28 00:12] ins0 commented on #349
allready implement as the github client uses etags to avoid increasing the current api limit if a repository content did not changed.

https://github.com/EvanDotPro/EdpGithub/blob/master/src/EdpGithub/Listener/Cache.php#L42

authenticated request to github had a rate limit of ``5000`` calls per hour and ``50`` for unauthenticated requests.

[2015-01-28 00:21] adamlundrigan commented on #349
I haven't looked into it too closely yet, but I set up my local dev env, logged in, and tried to sync my modules and after a sizable wait received the "API limit has been exceeded" message.  My GitHub account has 56 repositories.

[2015-01-28 00:27] ins0 commented on #349
now i got the point, there is one request to collect all the user repositorys but the old function https://github.com/zendframework/modules.zendframework.com/blob/master/module/ZfModule/src/ZfModule/Service/Module.php#L71 will use one call against every single repository to filter only zf2 modules.

i would love to see this check moved to the ``register`` process where the check will be executed.

[2015-01-28 07:15] #337 closed

[2015-01-28 07:16] #342 closed

[2015-01-28 19:01] adamlundrigan commented on #349
One optimization could be to use the search instead of loading a list of all the user's repositories.  As an example, with this query:
[code]
I get only the repositories that match our criteria for being a module ([see my result](https://api.github.com/search/code?q=user:adamlundrigan%20filename:Module.php%20%22class%20Module%22)).  This also works for organization names.

[2015-01-28 19:03] ins0 commented on #349
@adamlundrigan awesome :+1: like

[2015-01-28 19:04] adamlundrigan commented on #349
Something's fishy with the rate limit on my local clone.  Invoking my awesome powers of [VDD](https://twitter.com/andrewvos/status/174179120610160640) I added this to `EdpGithub\Listener\Cache::postSend`:

[code]

And this is the progression of `X-RateLimit-Remaining` when I try to sync my repositories:

![image](https://cloud.githubusercontent.com/assets/527329/5944624/0cdcde98-a703-11e4-8804-bc6

[2015-01-28 19:05] ins0 commented on #349
woot call decreases the rate limit from 4992 to 29 :fearful:

[2015-01-28 19:38] ins0 commented on #349
ok now it makes sense the search api had a rate limit from only 30 requests per minute. so i think there is no other option as to leave the ``search`` api and looking for a different way to display modules - simple hit url field?

[2015-01-28 19:50] adamlundrigan commented on #349
Ah yes, a different rate limit for searches would explain that.  I agree that it may be best to take the same approach as Packagist: enter your repository URL to add a module to the site (this would also make supporting sources other than GitHub easier as well).  If we do add a webhook receiver to catch updates from GitHub we could have it import the module data if the module doesn't already exist

[2015-01-28 20:08] ins0 commented on #349
:+1:

[2015-01-28 20:26] gianarb commented on #349
@adamlundrigan can you try if you authenticate the request the problem of rate persist?
Thanks..

[2015-01-28 20:27] ins0 commented on #349
@gianarb with unauthenticated requests the limit will drop to 5 requests/minute

[2015-01-28 20:45] gianarb commented on #349
Ok, thanks.. Sorry :)

[2015-01-28 20:48] ins0 commented on #349
:smile: as fiddler pops up the response headers i was thinking this is a bad joke and unauthenticated request too ^^ but unfortunately not :)

[2015-01-28 20:58] gianarb commented on #349
I don't know but I'm building a little application to manage Github PR status.
Login from Github and resume all my repos (103) and I have not this problem..
After the first request (list of repositories) I save this list into the database and exist a button to resume it from github.. mmm

[2015-01-28 21:03] ins0 commented on #349
the search api make the problem as it had a different (and looooowwer) rate limit as the repository api.

main problem is this zf2 module check function https://github.com/zendframework/modules.zendframework.com/blob/8af567eaa08f2f67ecf6c0f55998065201ff0cf0/module/ZfModule/src/ZfModule/Service/Module.php#L74

[2015-01-28 21:07] gianarb commented on #349
Ok.. Maybe we can change actual flow..
We can check module.php if he tries to enable repository

[2015-01-28 21:18] ins0 commented on #349
https://github.com/zendframework/modules.zendframework.com/issues/349#issuecomment-71758484 i like @adamlundrigan suggestion like packagist handels the "add repository" flow but some name standards for repository names would have positive aspects too, clearly identify a repository for zf2- or in the future for zf3- and users would see ontop "this is a zfX- module i can use for zf.
/cc @localheinz

[2015-01-29 02:33] adamlundrigan commented on #349
Perhaps we could support setting the Composer package type to "zf2-module"? ([see Composer docs, here](https://getcomposer.org/doc/04-schema.md#type)).  We would still need to fallback to searching for Module class for all those packages that don't have the type set properly.  It also doesn't help the rate limit issue, but following a Packagist-like module add procedure should negate those issues

[2015-01-29 03:10] adamlundrigan commented on #349
I've moved the discussion around the module add procedure to #352

[2015-02-01 01:02] adamlundrigan commented on #327
#354 removed phpmd so this can be closed

[2015-02-01 07:23] #327 closed

[2015-02-01 07:25] localheinz commented on #327
Thank you, @adamlundrigan!

[2015-02-05 10:43] gianarb commented on #296
Hi @GeeH! Have you news for this problem?
Thanks!

[2015-02-06 20:24] countless-integers opened #368 "add a message for empty search results list"
Try searching some module that doesn't exist like ["asdf"](http://modules.zendframework.com/?query=asdf) and you get a blank results page. What I'd like to see is a message saying no modules matching my search criteria were found.

[2015-02-06 20:40] countless-integers opened #369 "remove images/avatars from modules list"
As much as I appreciate the work that they put into creating module,  I think that this site can do without developer avatars by the modules list. On the modules info page, "new developers" box -- there it's fine, on modules list it's unnecessary. It also makes it harder to view the page on phone as the pics take a lot of space there. I've been showcasing the site to people I'm trying to introduce

[2015-02-06 21:58] isisis opened #370 "login failing"
When I try to login with my Github account here ...

http://modules.zendframework.com/user/loing

I'm getting redirected to this url ...

http://modules.zendframework.com/?error=redirect_uri_mismatch&error_description=The+redirect_uri+MUST+match+the+registered+callback+URL+for+this+application.&error_uri=https%3A%2F%2Fdeveloper.github.com%2Fv3%2Foauth%2F%23redirect-uri-mismatch

Seems like there's

[2015-02-06 22:05] ins0 commented on #370
duplicate #300 #296

[2015-02-06 22:11] isisis commented on #370
Sorry, didn't see the duplicate ...
But I'd suggest to leave this one opened on the first page. Is Ocramius already aware of it?
Someone working on a solution?

[2015-02-06 22:13] ins0 commented on #370
thanks for your report.
yes @GeeH is working on this as this fix needs server access

[2015-02-07 15:45] ins0 commented on #369
i agree on mobile the avatar logos are to big and make it hard to navigate through the page

[2015-02-07 16:22] gianarb commented on #369
@countless-integers drop it is drastic! :imp:
We can work for a best implementation for mobile..
@alexz707 proposed a new graphic implementation, maybe you can help us in this improvement :)

[2015-02-07 19:10] ins0 commented on #368
@Ocramius @countless-integers can be closed

[2015-02-07 19:15] #368 closed

[2015-02-07 19:22] ins0 commented on #135
@Ocramius i think this can be closed? /cc @gianarb @Hounddog

[2015-02-07 19:30] #135 closed

[2015-02-07 21:48] gianarb commented on #175
@Ocramius maybe you can close it :) Now the situation is changed! :)

[2015-02-08 00:08] #175 closed

[2015-02-08 01:14] IgorDePaula commented on #370
I can't login too.

[2015-02-08 01:15] IgorDePaula commented on #370
And I put module in site already.

[2015-02-08 01:35] ins0 commented on #370
please spam https://twitter.com/GeeH as he is currently working to fix this :trollface:

[2015-02-08 04:05] isisis commented on #370
Seems like there's no bug in the application, but in the Github api. Why not use normal - on site - authentication? I can't see any advantages on using Github authentication.
Instead one could make the application user associatable to Github user. This way users would still be able to login, even if the Github api will strike again.

[2015-02-08 13:17] ins0 commented on #90
can be closed @Hounddog @Ocramius
implemented with #346

[2015-02-08 13:27] IgorDePaula commented on #370
Where I see normal authtentication?

2015-02-08 2:05 GMT-02:00 Ibrahim Süzük <notifications@github.com>:

[2015-02-08 13:28] ins0 commented on #370
as i said this needs more access to the application that only @GeeH can provide. i don't see any advantages to use a normal login as the only use-case to register a module is to add a module from github - so please be more specific what advantage u see when using a normal login. maybe in the future when more user features are available this comes in handy, no?

[2015-02-08 13:35] gianarb commented on #370
@IgorDePaula the normale authentication is from Github.. In this moment this site support only github site and move it from another adapter isn't a priority.
I don't believe that the problem is in Github Api :+1: In this moment @GeeH is engaged SunShinePHP!! :)
I hope that it could work about it as soon as possible but change all auth method for me is not necessary

[2015-02-08 13:57] isisis commented on #370
@ins0 Yes, the use-case is only adding github repositories, but with an on-site authentication one could also add new repos, even if the github authentication doesn't work currently, or not?
To my mind it's better to stay independent from a second application (github), as long as it's possible, but it's only my humble opinion.

[2015-02-08 13:58] GeeH commented on #370
I’ll need some help here. We should schedule a hangout to nail this down where I can screenshare.

On 8 February 2015 at 08:57:11, Ibrahim Süzük (notifications@github.com) wrote:

@ins0 Yes, the use-case is only adding github repositories, but with an on-site authentication one could also add new repos, even if the github authentication doesn't work currently, or not?
To my mind it's better to sta

[2015-02-08 14:25] ins0 commented on #370
@isisis i agree it is just that the current process adding modules requires a linked github account - we are currently fixing many stuff that has accumulated over the time this repo was not really maintained - refactoring all classes and adding abstraction layers where switching to a normal signup don't require to recode all processes. so as @gianarb says this is currently not necessary - but yeah

[2015-02-09 21:44] localheinz opened #379 "Running UserTest\GitHub\LoginListenerTest::testAttach() in isolation results in error"
Running

[code]

results in

[code]

[2015-02-10 01:05] #379 closed

[2015-02-10 01:12] #90 closed

[2015-02-10 01:12] Ocramius commented on #90
@ins0 thanks!

[2015-02-12 13:39] localheinz commented on #284
@GeeH

Any news on this one?

[2015-02-12 13:47] GeeH commented on #284
No

On 12 February 2015 at 13:39:36, Andreas Möller (notifications@github.com) wrote:

@GeeH

Any news on this one?

—
Reply to this email directly or view it on GitHub.

[2015-02-12 14:20] localheinz commented on #284
![carol-beer-1024](https://cloud.githubusercontent.com/assets/605483/6169013/68df2890-b298-11e4-843e-9eda26e8db48.jpg)

[2015-02-12 22:31] basz commented on #370
@GeeH help offered, how can I help you to fix this issue?

[2015-02-15 15:04] #205 closed

[2015-02-16 01:10] isisis commented on #370
I don't understand why commits are being send to the repository, but no one fixes the authentication.
Did no one succeed fixing it or is the hosted project not being maintained anymore?
@basz offered help and I would help too, if I knew what's the current situation.

[2015-02-16 01:11] Ocramius commented on #370
I'll poke @GeeH tomorrow, and eventually ask for SSH data if he can't check it. Right now we're pretty much drowning in work :-\

[2015-02-16 09:01] GeeH commented on #370
The reason is because it takes time. Time I don’t have at the moment. I’m working two jobs and this week I’m spending some time with my family that is long overdue.

I hope this is OK with you.

On 16 February 2015 at 01:10:33, Ibrahim Süzük (notifications@github.com) wrote:

I don't understand why commits are being send to the repository, but no one fixes the authentication.
Did no one succeed fi

[2015-02-16 09:12] ins0 commented on #370
@GeeH sure it is! Thanks for letting us notice. As @Ocramius said it would be nice if we can share the ssh login with marco as well so if one is busy we still can deploy on the production server. :smiley:

[2015-02-16 09:13] GeeH commented on #370
@Ocramius knows how to get access if he can run with it then great. Otherwise I will look this evening.

On 16 February 2015 at 09:12:19, Marco Rieger (notifications@github.com) wrote:

@GeeH sure it is! Thanks for letting us notice. As @Ocramius said it would be nice if we can share the ssh login with marco as well so if one is busy we still can deploy on the production server.

—
Reply to this e

[2015-02-16 09:14] ins0 commented on #370
@GeeH :+1:

[2015-02-16 09:15] gianarb commented on #370
The time is a shared problem but maybe we are here to help you to manage this project in the best way :+1:

[2015-02-16 11:24] GeeH commented on #370
As a point of note, the site is hosted on Roave server, and only Roave employees (or trusted third parties) can have access. If you wish to get access to the server with SSH please email “team@roave.com” making your case. Alternatively we can host somewhere else if anyone is willing to pay and Zend are happy with the arrangement.

G

On 16 February 2015 at 09:14:13, Marco Rieger (notifications@git

[2015-02-16 11:31] gianarb commented on #370
@GeeH can you share with me google analytics data of the site?
gianarb92[at]gmail[dot]com

Thanks

[2015-02-16 11:32] GeeH commented on #370
I don’t have access to that sadly, chase up @Hounddog.

On 16 February 2015 at 11:31:48, Gianluca Arbezzano (notifications@github.com) wrote:

@GeeH can you share with me google analytics data of the site?
gianarb92[at]gmail[dot]com

Thanks

—
Reply to this email directly or view it on GitHub.

[2015-02-16 11:35] gianarb commented on #370
Thanks! :)

[2015-02-17 19:07] localheinz commented on #246
@ins0

Looking at this I'm thinking that generally the site would benefit from identifying modules by vendor **and** name, what do you think?

Who cares if there is more than one module with the same name, if one of them is better than the other, or just serves a different purpose in the first place?

See, for example, https://packagist.org/search/?q=theme

![screen shot 2015-02-17 at 19 59 13](ht

[2015-02-17 21:54] localheinz commented on #246
@ins0

Just gave this a spin and also created a repository: https://github.com/localheinz/ZF2-AcYaml.

Here's what I got when navigating to http://modules.zendframework.dev/user:

![screen shot 2015-02-17 at 22 52 27](https://cloud.githubusercontent.com/assets/605483/6238005/d58337b2-b6f7-11e4-81ee-2b172b4e74c7.png)

[2015-02-17 22:22] localheinz commented on #202
@dudapiotr

If the module is a fork, it can't be added, and here's why:

[code]

See https://github.com/zendframework/modules.zendframework.com/blob/1cd6a47041c067f950ab99838e8076a536abc5ce/module/ZfModule/src/ZfModule/Controller/IndexController.php#L183-L189

[2015-02-17 22:25] localheinz commented on #202
I'm not sure why that decision was made, but I have no objections to discussing it.

However, it's not a bug, it's a feature.

[2015-02-17 22:44] #128 closed

[2015-02-17 22:44] #199 closed

[2015-02-17 22:44] #246 closed

[2015-02-19 10:46] #153 closed

[2015-02-19 12:34] localheinz commented on #370
Well, this bug really is an annoyance!

[2015-02-19 12:46] localheinz commented on #370
As far as I can tell, this only needs a small change in the administrative panel of GitHub, see this screenshot from my application:

![screen shot 2015-02-19 at 13 42 08](https://cloud.githubusercontent.com/assets/605483/6266699/26319c76-b83d-11e4-8f97-5de3c5e1bca1.png)

I was able to reproduce the error by providing an **Authorization Callback URL** pointing to a different location. I assume it

[2015-02-19 12:47] localheinz commented on #370
Unsure if this is related, but when you navigate to https://modules.zendframework.com, you'll see this:

![screen shot 2015-02-19 at 13 41 21](https://cloud.githubusercontent.com/assets/605483/6266757/d3294582-b83d-11e4-9bf1-a6a135541c75.png)

[2015-02-19 12:53] localheinz commented on #369
@countless-integers

I agree! How about this:

* Anywhere modules are listed, the avatars are removed - the focus should be on the modules themselves, not the author or organisation which registered them.
* We provide a user profile page, similar to what we have already at http://modules.zendframework.com/user, but which allows to see all the modules a user has registered, e.g., http://modules.zen

[2015-02-19 12:53] IgorDePaula commented on #370
@andreas, I don't understand you, please can you explain again?

2015-02-19 10:47 GMT-02:00 Andreas Möller <notifications@github.com>:

[2015-02-19 12:54] Ocramius commented on #369
You could (!) in theory parse out the first image from the markdown, but that sounds overkill right now :-)

[2015-02-19 12:55] localheinz commented on #370
@IgorDePaula

The point I'm making is that it might not even be necessary to SSH into the server to fix this issue, but instead might only need a glance / small change rather into the  [GitHub Application Settings](https://github.com/settings/applications) for this application! :wink:

[2015-02-19 12:57] basz commented on #370
@localheinz bet that's the solution to the login problem! ping @GeeH

The https:// going to zend paackages issue is an apache/nigx configuration problem

[2015-02-19 12:57] localheinz commented on #369
@Ocramius

I'm happy to make changes to the layout (as pointed out on IRC and here), but figured it would be cool to sort out the existing bugs beforehand!

[2015-02-19 12:57] IgorDePaula commented on #370
Ah, ok, I understand you now, thank you

2015-02-19 10:55 GMT-02:00 Andreas Möller <notifications@github.com>:

[2015-02-19 12:59] localheinz commented on #370
Closing this in favour of #296, as it's a duplicate - if you don't mind!

[2015-02-19 12:59] #370 closed

[2015-02-19 12:59] localheinz commented on #300
@ins0

Closing this in favour of #296, ok?

[2015-02-19 12:59] #300 closed

[2015-02-19 13:07] localheinz commented on #296
@heiglandreas

I understand this issue as this

### Scenario 1

* navigate to http://zfmodules.com
* sign in with GitHub
* get redirected to http://modules.zendframework.com with a `redirect_uri_mismatch` error

But we also have

### Scenario 2

* navigate to http://modules.zendframework.com
* sign in with GitHub
* get redirected to http://modules.zendframework.com with a `redirect_uri_mismatch` e

[2015-02-19 13:23] ins0 commented on #296
just pointing out https://github.com/zendframework/modules.zendframework.com/issues/296#issuecomment-71346840

notice -> http%3A%2F%2F**zfmodules.com**%2Fscn-social- [...]

[2015-02-19 13:24] ins0 commented on #300
:+1:

[2015-02-19 13:31] gianarb commented on #369
In this moment the priority is the production :) For me we can move the layout improvements in another step.. :)

[2015-02-19 13:33] localheinz commented on #296
@ins0

Good catch, updating my comment above!

[2015-02-19 13:50] localheinz commented on #296
@Ocramius @GeeH

Can you have a look? I know the two of you are really busy, but we **need** to get this sorted out!

[2015-02-19 13:52] GeeH commented on #296
If you can tell me what I need to do in simple terms I will do it asap :cactus:

[2015-02-19 13:56] ins0 commented on #296
@GeeH  Hard to say. Can u confirm that the used Github Token in the Config files is equal to the Github Application where you edit the Callback Url? Maybe Cache?

[2015-02-19 13:57] Ocramius commented on #369
I wouldn't stop devs that are able to work from doing their job because of
that, especially if they cannot help out directly with the issue.

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On 19 February 2015 at 13:31, Gianluca Arbezzano <notifications@github.com>
wrote:

[2015-02-19 14:03] GeeH commented on #296
@localheinz can I get you access to the server; would that work better?

[2015-02-19 14:05] ins0 commented on #296
@GeeH just talked about this on IRC with @localheinz that would make things alot easier if andreas agrees :+1:

[2015-02-19 14:16] GeeH commented on #296
@localheinz I'll get this sorted with Kairos if you're ok with it

[2015-02-19 14:42] localheinz commented on #296
@GeeH

:+1:

[2015-02-20 12:11] localheinz commented on #296
@GeeH

Got access now!

However, what is apparent from https://github.com/zendframework/modules.zendframework.com/issues/296#issuecomment-75048763:

![screen shot 2015-02-20 at 13 09 17](https://cloud.githubusercontent.com/assets/605483/6285909/c654eaae-b901-11e4-854c-012c13af2cef.png)

Sorry to bug you with this, but can you please have a look at the [GitHub Application setting](https://github.co

[2015-02-20 12:13] GeeH commented on #296
yes, I’ll bug @akrabat after his talk

On 20 February 2015 at 12:11:14, Andreas Möller (notifications@github.com) wrote:

@GeeH

Got access now!

However, what is apparent from #296 (comment):

Sorry to bug you with this, but can you please have a look at the GitHub Application setting again?

—
Reply to this email directly or view it on GitHub.

[2015-02-20 12:13] localheinz commented on #296
@GeeH

Cool, you are :crown:!

[2015-02-20 12:14] gianarb commented on #296
:tada: !!! :D

[2015-02-20 12:15] ins0 commented on #296
HYPE :+1:

[2015-02-20 12:17] #306 closed

[2015-02-20 12:27] localheinz commented on #284
Related: application is currently available at both

* http://modules.zendframework.com
* http://zfmodules.com

[2015-02-21 15:57] GeeH commented on #296
![e47a71a9](https://cloud.githubusercontent.com/assets/613376/6314742/6479591e-b9e2-11e4-980e-8fc5dc3f8c31.png)

[2015-02-21 16:11] ins0 commented on #296
if the client id is equal to ``e00c0cc9c5eab5a04653`` we should ask for github support, this is too strange

[2015-02-21 16:20] GeeH commented on #296
I’ve confirmed the client ID and secret are correct

On 21 February 2015 at 16:11:18, Marco Rieger (notifications@github.com) wrote:

if the client id is equal to e00c0cc9c5eab5a04653 we should ask for github support, this is too strange

—
Reply to this email directly or view it on GitHub.

[2015-02-23 17:43] localheinz commented on #296
Great news, thanks to @weierophinney we now have a new GitHub applicatio under the realm of `zendframework` and are able to sign in, at least when going to http://zfmodules.com.

Looking into redirecting from http://modules.zendframework.com to http://zfmodules.com.

[2015-02-23 17:50] localheinz commented on #296
Forgot to add some :tada:!

[2015-02-23 17:52] gianarb commented on #296
:tada: beautifullll stuff!

[2015-02-23 17:53] localheinz commented on #296
@weierophinney has also set up a redirect from http://modules.zendframework.com to http://zfmodules.com

Closing! :cake:

[2015-02-23 17:53] #296 closed

[2015-02-23 17:59] localheinz commented on #251
Closing as I just added the column to the table a few minutes ago.

[2015-02-23 17:59] #251 closed

[2015-02-23 18:08] Lansoweb opened #412 "Object of class DateTime could not be converted to string"
Ok, login with github is working now, but when i try to submit a module, i get the error on http://zfmodules.com/module/add

[code]

Thanks,
Leandro Silva

[2015-02-23 18:09] Ocramius commented on #412
</3 hydrators :-\

[2015-02-23 18:09] localheinz commented on #412
Talked to @ins0, waiting for deployment!

[2015-02-23 18:10] ins0 commented on #412
allready fixed and resolved when production is up to date

[2015-02-23 18:10] Lansoweb commented on #412
Ok. Thanks guys!

[2015-02-23 18:38] Lansoweb commented on #412
It's working now. Can close this one.

[2015-02-23 18:42] ins0 commented on #412
:+1:

[2015-02-23 18:42] #412 closed

[2015-02-23 18:43] localheinz commented on #412
Thank you, guys!

[2015-02-23 23:40] gianarb commented on #284
maybe this issue is closable

[2015-02-23 23:42] gianarb commented on #212
@localheinz ping! :) I use this configuration, does it work for you?

[2015-02-23 23:43] gianarb commented on #197
Reference #353

[2015-02-23 23:47] gianarb opened #415 "/user Registered Modules bug"
Hi!
`/user`in `Registered Module` I see all my repositories, I don't see only registered into site.
It's only a my problem?

Thanks!

[2015-02-23 23:56] ins0 commented on #415
yeah confirm this - think this comes from c99bc9d - or @localheinz?

[2015-02-24 06:44] #415 closed

[2015-02-24 06:47] gianarb commented on #415
Thanks

[2015-02-24 06:47] localheinz commented on #284
I think it is, zfmodules.com works fine for now, doesn't it?

We've got redirects in place from

* http://modules.framework.com
* https://modules.framework.com
* http://www.zfmodules.com

and this domain is good to serve modules for ZF2.

[2015-02-24 06:47] #284 closed

[2015-02-24 06:58] heiglandreas commented on #201
Still same here. A call to http://zfmodules.com/module results in the following reponse:

Warning: array_filter(): An error occurred while invoking the filter callback in **/var/www/modules/module/ZfModule/src/ZfModule/Controller/IndexController.php** on line 148

[2015-02-24 08:00] gianarb commented on #305
In my opinion this issue is inapplicable

[2015-02-24 08:06] gianarb commented on #201
Maybe the problem is number of repositories [Reference #353], @prolic I see your last module updated :)
Now it works?

@heiglandreas this is another but, I have it.. thanks

[2015-02-24 08:11] prolic commented on #201
Yes, just received the post from the mailing list and retried to resubmit
some of my modules. And it worked this time again!
Thanks to whoever fixed it! ;-)

Prolic

Sascha-Oliver Prolic

2015-02-24 9:06 GMT+01:00 Gianluca Arbezzano <notifications@github.com>:

[2015-02-24 08:15] GeeH commented on #305
Closing this, we'd happily take this code as a series of PR.

[2015-02-24 08:18] #305 closed

[2015-02-24 08:23] gianarb commented on #201
Thanks for your tests @prolic!

@localheinz  you can close it

[2015-02-24 08:24] localheinz commented on #201
Thank you, @gianarb and @prolic!

[2015-02-24 08:24] #201 closed

[2015-02-24 08:26] localheinz commented on #197
Unable to reproduce at the moment, closing.

@stevleibelt

If you still see this issue, please re-open!

[2015-02-24 08:26] #197 closed

[2015-02-24 08:35] gianarb commented on #155
ping @emcode  :)

[2015-02-24 08:38] gianarb commented on #202
In my opinion this is a good feature.. Only the owner can load your module into the site

[2015-02-24 09:43] localheinz commented on #155
@emcode

I just tried to reproduce the problem by submitting a module and then attempting to remove it, but was unable to reproduce the problem, that is, I succeeded removing the module.

Closing for now, feel free to re-open if you encounter the problem again.

[2015-02-24 09:43] #155 closed

[2015-02-24 09:45] localheinz commented on #195
As pointed out by @cerealean, this is a duplicate of #188, therefore closing.

[2015-02-24 09:45] #195 closed

[2015-02-24 09:46] localheinz commented on #188
@nickurt @cerealean @ZeinEddin @codeliner @snapshotpl

Can any of you confirm that this is still an issue?

[2015-02-24 09:48] localheinz commented on #157
@makasim

This is what I can see right now:

![screen shot 2015-02-24 at 10 48 10](https://cloud.githubusercontent.com/assets/605483/6346729/b341c2ac-bc12-11e4-90de-5f800a2b06f0.png)

Can this issue be closed, then?

[2015-02-24 09:50] localheinz commented on #157
@makasim

Closing as module has apparently been submitted after all.

Feel free to re-open if you encounter the same problem again!

[2015-02-24 09:51] ZeinEddin commented on #188
I just tried to login and it worked fine... (y)

[2015-02-24 09:51] localheinz commented on #188
@ZeinEddin

Closing this, then. Thank you!

[2015-02-24 09:51] #188 closed

[2015-02-24 09:52] localheinz commented on #189
@cerealean

Closing, as adding module works, at least for me. Please re-open when you encounter the problem again!

[2015-02-24 09:52] #189 closed

[2015-02-24 09:52] gianarb commented on #173
@localheinz can you add labels "Feature" and priority for this issue? Maybe low-priority in this moment

[2015-02-24 09:53] localheinz commented on #173
@gianarb

Done!

[2015-02-24 09:54] gianarb commented on #173
Thanks!

[2015-02-24 09:59] makasim commented on #157
The issue was not about search. it was there all the time but the settings. First it does not show the module on the registered modules tab. Also the organization tab do not show organization details. when click on its name.

[2015-02-24 10:02] localheinz commented on #157
@makasim

So, can you currently see it in http://zfmodules.com/user#modules?

What do you expect to be shown there, and what actually is? Can you elaborate?

Trying to reproduce the issue!

[2015-02-24 10:03] localheinz commented on #157
Reopening as it probably makes more sense to discuss an actually open issue!

[2015-02-24 10:07] makasim commented on #157
no, nothing there at all.

I expect to see a module on the Payum organization list, and maybe a button to register it so that I can see it on registered modules tab. Not a big deal though.

[2015-02-24 10:12] snapshotpl commented on #188
It's working! :+1:

[2015-02-24 10:17] gianarb commented on #188
![giphy 1](https://cloud.githubusercontent.com/assets/1630267/6347260/b670a354-bc16-11e4-8afa-731110540f2d.gif)

Other gif!!

[2015-02-24 10:19] localheinz commented on #157
@makasim

That's weird. Looking into it.

[2015-02-24 11:41] stevleibelt commented on #197
@localheinz

Still the same, did a check on chromium v40.x

Console Log:
[code]

When I reload the page itself (meaning the chosen tab is switched back to "Registered Modules", I could find the following error in the Network Log:
[code]

[2015-02-24 11:45] gianarb commented on #197
@stevleibelt thanks! But maybe this is another issue, it is not a proxy error now :weary:

[2015-02-24 11:47] stevleibelt commented on #197
@gianarb you are true. It is always hard to decide if reopen an existing (but technically not fitting) defect or create a new one and refer to the the existing one.

Thanks for the work so far :+1:

[2015-02-24 11:48] gianarb commented on #197
Thanks for this bug reporting! :+1:

[2015-02-24 11:50] ins0 commented on #197
maybe this is a fatal error when the rate limit is reached for github?

[2015-02-24 11:54] gianarb commented on #197
Yes for me this is the problem.. :+1: @stevleibelt sorry what's your repositories number? Thanks

[2015-02-24 13:59] ins0 opened #422 "Server Software Update"
The server is currently really outdated with the installed software and needs a dist upgrade badly.

[2015-02-24 14:00] ins0 opened #423 "Update to newest Nginx Version"
we should jump to nginx version ``1.6.*``

[2015-02-24 14:00] ins0 opened #424 "SSL Cert"
The ssl cert is placed by @EvanDotPro on the Server and needs to be installed for the domain on nginx - should follow after #422

[2015-02-24 14:04] ins0 opened #425 "SPDY Support"
why not? as this is only one configuration in nginx.
should follow after #424

[2015-02-24 16:32] ins0 commented on #423
can be closed - nginx is now at version ``1.6.2`` thanks to @localheinz as input/output proxy :smile:

[2015-02-24 16:33] localheinz commented on #423
Thank you, @ins0!

[2015-02-24 16:33] #423 closed

[2015-02-24 17:10] stevleibelt commented on #197
@gianarb I only have around 52 repositories :-/

[2015-02-24 17:18] gianarb commented on #197
maybe the limit is 30

[2015-02-24 17:42] snapshotpl commented on #197
I have 43 repos and "My modules" page is working.

[2015-02-24 18:03] nickurt commented on #188
Works :+1:

[2015-02-24 18:23] gianarb commented on #197
Perfect thanks! The number of repo is not the problem..

Gianluca Arbezzano
Il 24/feb/2015 18:42 "Witold Wasiczko" <notifications@github.com> ha
scritto:

[2015-02-24 18:25] codeliner commented on #188
works for me, too. Many thanks.

[2015-02-25 10:59] snapshotpl opened #427 "Redirect to zfmodules.com"
Request http://modules.zendframework.com/feed redirects to http://zfmodules.com/, should be http://zfmodules.com/feed . We need to keep old paths to keep compatibility

[2015-02-25 11:02] ins0 commented on #427
as the redirect comes from a different zend server where we have no control this is a task for @weierophinney. can you do this please?

[2015-02-25 13:51] gianarb opened #428 "A lot of configuration files, is it a best practices?"
Hi!
I was thinking.. Why in this project there are a lot of [configuration files](https://github.com/zendframework/modules.zendframework.com/tree/master/config/autoload)?

is it a best practice?
Thanks

[2015-02-25 22:00] gianarb opened #431 "List of modules from single user"
Hi! I'm working at a new feature, the list of all modules for single user. Is it a good idea?
Maybe it could be a good starting point to build a public user page.

Route `/u/:owner`

We can link it into
- "New developers" box (Now it link github)
- And into single module page if you click over the name of owner
  ![prop](https://cloud.githubusercontent.com/assets/1630267/6381539/16058a06-bd42-11e4

[2015-02-25 22:08] snapshotpl commented on #431
Why `/u/:owner` ? `/user/:owner` will be more clearer

[2015-02-25 22:10] gianarb commented on #431
:+1:

[2015-03-01 23:07] snapshotpl opened #441 "Remove puphpet?"
What are you thing about remove puphpet files? Currently it's 12 MB of configuration files and scripts. We can still support vagrant using puphpet. How? Just keep `puphpet/confg.yaml` and `puphpet/files/*/*.sh`, other files should be ignored and can be generated manually by https://puphpet.com/ site.

[2015-03-01 23:13] Ocramius commented on #441
The idea was to have a portable way of provisioning the VM, and tbh, the 12 MB are not a big deal.

The problem is more about puphpet being totally unmaintainable for long-term development :-\

[2015-03-02 07:50] gianarb commented on #441
In my project I use another repository for this stuff.. I use this VM to work at zfmodules.. The problem of maintainability exists :)

[2015-03-02 14:00] localheinz commented on #431
@gianarb

I think this is useful!

[2015-03-02 14:01] localheinz commented on #428
@gianarb

I personally don't like that to much, to be honest, I'd prefer as few as possible!

[2015-03-02 14:02] localheinz commented on #431
@Ocramius

Happy to work on that, unless someone else has already started!

[2015-03-02 14:02] Ocramius commented on #431
I assigned simply because you gave @gianarb an "ok" :-) You can ask @gianarb if he has time

[2015-03-02 14:10] gianarb commented on #428
+1

2015-03-02 15:01 GMT+01:00 Andreas Möller <notifications@github.com>:

--
Gianluca Arbezzano
www.gianarb.it

[2015-03-02 14:11] gianarb commented on #431
@localheinz This is my branch.. :) But you are free to restart

[2015-03-02 20:03] ins0 commented on #422
ping @GeeH this blocks the complete ssl support for the page - could you please do this as this should be made from someone with server configure experience - in case something went wrong

[2015-03-02 20:27] GeeH commented on #422
@ins0 can you be more specific please?

[2015-03-02 20:43] ins0 commented on #422
the complete server packages are outdated ... from openssl to the core, so ``apt-get  update`` and ``apt-get dist-upgrade`` should bump up all versions to a secure state.

[2015-03-02 20:44] GeeH commented on #422
That's all I wanted to know. Your original issue wasn't particulraly helpful. I'll get this done asap.

[2015-03-02 20:49] ins0 commented on #422
sry @GeeH if i wasn't specific enough - wrote this stuff fast :smiley:

[2015-03-02 20:52] GeeH commented on #422
Done. Please close when @localheinz has confirmed.

[2015-03-03 19:08] #428 closed

[2015-03-04 17:07] localheinz opened #459 "Consider using Scrutinizer and displaying corresponding badges"
I think @Ocramius and I agree that is a good idea to use Scrutinizer (or a similar tool) for performing code quality / coverage checks in addition to what we already have, and then also display the corresponding badges in `README.md`.

However, setting this up requires **ADMIN** privileges, so if anyone with those would be willing to set it up, that would be awesome!

See https://github.com/zendfr

[2015-03-04 18:10] Ocramius opened #460 "Deployment should NEVER use SUDO or root privileges"

[2015-03-04 18:45] localheinz commented on #422
@ins0

Shall the two of us have a look soon?

[2015-03-05 08:42] #460 closed

[2015-03-05 09:10] GeeH commented on #425
Can you please be more informative in your tickets. Please assume that people like me have no idea what SPDY is (which I don't).

[2015-03-05 09:11] GeeH commented on #349
I believe this is fixed. I added authentication. If it's not please re-open.

[2015-03-05 09:12] #349 closed

[2015-03-05 09:13] GeeH commented on #308
There is nothing inherently wrong with a view helper hitting the database via service as explained to me by @Ocramius at length one fine day in January. Thoughts?

[2015-03-05 09:16] Ocramius commented on #425
[SPDY](http://en.wikipedia.org/wiki/SPDY)

[2015-03-05 09:20] GeeH commented on #202
Why are we not allowing forks to be added? Can someone explain in short words to me? Is it just because I could fork a repo and add it as my own? If this is the case then we need a "report module" mechanism.

There are genuine use cases where I can fork from another repo and modify heavily with attribution in place and want to submit my fork as a module. Leaving it as a fork allows my users to see

[2015-03-05 09:22] GeeH commented on #425
I can Google thanks. However, this doesn't solve the problem of tickets being created in haste and without enough information for the contributors to asses the idea and respond accordingly.

I can find out what SPDY is but I need to understand why, in the reporters opinion, it's a good idea to install it on the server. What benefits will it give this project, what are the downsides? Creating ticke

[2015-03-05 09:22] GeeH commented on #425
See #441 for an example of a good issue report.

[2015-03-05 10:45] localheinz commented on #202
@GeeH

I think it would be great to show forks!

How about this:

### Original and fork are registered

* when rendering the a registered and forked module, display that it is a fork of the original module
* when rendering the original module, display a list of registered forks

### Fork is registered, original is not

* when rendering a registered fork, display that it is a fork, but that the ori

[2015-03-05 12:13] ins0 commented on #425
sry @GeeH i agree that my created issue reports lacks of detailed information. will edit the other issues tonight.

i can't describe the complete spdy protocol but in general it allows the server to push resources (like images) to the client. without the spdy protocol the client is forced to request this resources from the server with result in more requests to the server. spdy is only available o

[2015-03-05 12:16] ins0 commented on #422
@localheinz sure just ping me on twitter. in general i'm available after 5 o'clock on business days.

[2015-03-05 22:05] ins0 opened #471 "Missing Usernames in the Database"
I just notice that when a user is logged in and in the Db no ``username`` is present the page throws an hard error. I might be wrong but i think we got some time ago issues adding github usernames to the database.

@localheinz or someone with database access could please check if all users in the db got a value in the field ``username``?

thanks

[2015-03-06 06:11] localheinz commented on #471
@ins0

Noticed this some time ago as well, but checked with the database 20s ago: there are no users without user name.

[2015-03-06 07:37] ins0 commented on #471
thanks @localheinz to check this just for safety reasons :+1:

[2015-03-06 07:37] #471 closed

[2015-03-06 22:33] gianarb opened #479 "Google Analytics I have won the hant"
:tada:
ladies and gentlemen, today I'm here to announce the recovery of google analytics account!

The history begins here #139
The owner of this account is @EvanDotPro and now I have the access but where is the tracking? The graph is empty and this site not embed the google analytics track code..

## 02/01/2015 - Today
![02-genn-2015](https://cloud.githubusercontent.com/assets/1630267/6537597/bf6

[2015-03-07 08:44] localheinz commented on #479
:+1:

[2015-03-07 17:46] gianarb commented on #479
@localheinz would you revert the commit that remove the code or send new PR? :)

[2015-03-07 20:06] ins0 commented on #479
@gianarb done

/cc @localheinz

[2015-03-07 20:16] ins0 opened #481 "Removing the "(Eventual)" repository hint"
to be hornest this isn't the "(Eventual)" home - it is.
and we will make this home awesome :smiley:

[2015-03-07 20:17] localheinz commented on #479
Fixed in #480.

[2015-03-07 20:17] #479 closed

[2015-03-07 20:19] localheinz commented on #481
@ins0

:+1:, but requires admin privileges.

[2015-03-25 19:18] localheinz commented on #424
Thank you, @ins0!!

[2015-03-25 19:18] #424 closed

[2015-03-25 19:21] snapshotpl commented on #424
@localheinz @ins0 after this login stopped working. We need to update page url in github

[2015-03-25 19:22] localheinz commented on #425
Thank you, @ins0!!!

[2015-03-25 19:22] #425 closed

[2015-03-25 19:22] localheinz commented on #427
@weierophinney

Any idea?

[2015-03-25 19:23] localheinz commented on #422
Thank you very much, @ins0!!!

[2015-03-25 19:23] #422 closed

[2015-03-25 19:43] ins0 commented on #424
@snapshotpl this missmatch devil - yeap thanks currently working on this :+1:

[2015-03-25 19:45] weierophinney commented on #427
Odd -- we actually keep the path when redirecting:

[code]

[2015-03-25 19:47] ins0 commented on #424
@snapshotpl fixed

[2015-03-26 12:28] ins0 opened #483 "Disable SSL RC4 cipher"
As the RC4 cipher is no longer secure. We should disable it.

http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2013-2566

[2015-03-26 12:36] localheinz commented on #483
@ins0

Shall we get this sorted out tonight?

[2015-03-26 12:38] ins0 commented on #483
@localheinz sure :rocket:

[2015-03-26 12:44] localheinz commented on #483
@ins0

Ping me on Twitter or Skype later!

[2015-03-26 18:05] localheinz commented on #483
Thank you, @ins0!

[2015-03-26 18:05] #483 closed

[2015-04-24 13:10] #427 closed

[2015-04-24 13:13] GeeH commented on #441
Any news on this, can  we either progress or close please.

[2015-04-24 13:15] GeeH commented on #84
I disagree - if anyone does agree, please re-open and create PR

[2015-04-24 13:16] #84 closed

[2015-04-24 13:17] GeeH commented on #85
2 years without comments = issue closed.

[2015-04-24 13:18] GeeH commented on #86
Nudge - any news or can I close please?

[2015-04-24 13:19] GeeH commented on #85
Changed my mind. I'd like to just use stars/forks on github to make a rating that will be displayed. I'm looking at this.

[2015-04-24 13:19] gianarb commented on #441
I don't know..
In my opinion we can delete this directory

[2015-04-24 13:24] gianarb commented on #86
I have not feedback from community.. If this feature is not interesting we can close this issue

[2015-04-24 13:25] localheinz commented on #441
:+1:

[2015-04-25 10:09] GeeH commented on #308
ping @ocramius

[2015-04-25 10:09] #212 closed

[2015-04-28 08:58] GeeH commented on #481
I think I fixed this.

[2015-04-28 08:58] #481 closed

[2015-04-28 09:15] ins0 commented on #481
thanks @Geeh

[2015-08-09 12:22] alvsystems opened #494 "Unexpected routing behaviour"
I've noticed that by default the ZF2 router allows URL's prefixed with index.php i.e. http://mysite.com/index.php/my-page.

I would expect this URL to return a 404 as the correct URL should be http://mysite.com/my-page.

This behaviour happens when served via both Nginx and Apache and doesn't seem like a server issue but rather an application routing problem.

I'm not sure if this is a configurati

[2015-08-09 12:26] #494 closed

[2015-09-10 08:53] tasmaniski opened #495 "List of "hot" modules"
I would like to propose a short list of "hot" modules. Currently I can search a modules but can not
see all good/hot modules.

It can be calculated based on GitHub statistics no. stars, forks, watches, downloads ... or based on something different. Also, can be visible below "New Developers" box.

[2015-09-14 09:16] ins0 opened #496 "Changing the current DB structure"
I would like to suggest and create a PR with a new DB structure.

The current design isn't nice at all and cause trouble along the way. The modules table isn't well normalized and cause trouble when it comes to "which user uploaded a module" - user repo? company repo? or when a user is changing his github name (not possible currently). On the other side i would like to prepare the site to support

[2015-09-14 09:21] gianarb commented on #496
Hi @ins0
This proposal sounds good.. This is a strong feature :)

If we would implement doctrine we can use all other tools (migrations, fixtures) to increase our workflow

[2015-09-15 14:26] ins0 commented on #496
True @gianarb - i think we already tried to implement migrations but i'm not quite sure. I added a first suggestion for the db.

[2015-09-15 16:22] localheinz commented on #496
@gianarb @ins0

I'd second the use of Doctrine, and I'm happy to help!

[2015-09-15 16:23] localheinz commented on #459
@GeeH

I also wouldn't mind using Code Climate instead!

[2015-09-15 16:24] localheinz commented on #441
Closed with #486.

[2015-09-15 16:24] #441 closed

[2015-09-15 16:27] localheinz commented on #496
@gianarb @ins0

Here's probably how I would do this, as it's a bit of work:

1. switch to using `doctrine/orm` in the first place
2. start using `doctrine/migrations`
3. make changes to the schema

What do you think? All at once, that's too much - and there's probably hardly anyone willing to code review that. Let's take small steps!

[2015-10-18 19:13] gianarb commented on #87
This page exists..

We can close this issue..

@Ocramius are you agree?

[2015-10-18 19:18] Ocramius commented on #87
@gianarb link to the PR?

[2015-10-18 19:19] gianarb commented on #89
can we use addthis to implement this feature?

IMO this feature is not interested.. but this addthis is very easy to implement..

[2015-10-18 19:20] gianarb commented on #87
This is the user page..
https://zfmodules.com/user/gianarb

[2015-10-18 19:23] Ocramius commented on #87
Yes, I'm just looking for the PR that implemented that route ;-)

[2015-10-18 19:23] Ocramius commented on #89
I kinda hate this stuff, as I block all social sharing links via ghostery anyway :-P

[2015-10-18 19:28] gianarb commented on #89
IMO we can close this issue.. :P but this is a democracy.. maybe

[2015-10-18 19:53] gianarb commented on #89
0d31b7d

[2015-10-18 19:54] gianarb commented on #87
0d31b7d

[2015-10-18 20:12] Ocramius commented on #87
Done via #444

[2015-10-18 20:12] #87 closed

[2015-10-18 20:14] Ocramius commented on #89
Your pick. I don't think social links add anything at all to any website (except for the additional css/js/markup), but that's my opinion.

[2015-10-18 20:21] Stanimirdim92 commented on #89
Not sure about fb, but twitter sounds good. What about an addthis button? It supports many sharing features?

[2015-10-18 21:27] gianarb commented on #89
In my opinion to share on twitter the flow is too much easy..

copy paste link :)
That is only my opinion

[2015-10-19 06:49] gianarb commented on #496
@ins0 now we have migrations :P Can we apply this change in your opinion?

[2015-10-19 19:49] gianarb opened #505 "I hate config autoload directory"
Hello guys..
This night I dreamed this directory.

![screen shot 2015-10-19 at 21 47 55](https://cloud.githubusercontent.com/assets/1630267/10589339/1a360fe2-76ab-11e5-91ae-315a056d745c.png)

In your opinion this is a good practice?
Can we try to replace decrease the number of files?

[2015-10-19 20:38] localheinz commented on #505
@gianarb

Here's how I would do it:

* one `global.php` that contains all of the configuration
* if you need to override configuration, create a `local.php`, override it

this many files is kind of ugly.

I understand, though, that `development.local.php.dist` is used by `ZF\DevelopmentMode`, though, so this one needs to stay, apparently.

[2015-10-19 20:44] gianarb commented on #505
:+1: I agree with you

[2015-10-20 09:37] localheinz opened #507 "Security vulnerability detected"
See

* https://www.versioneye.com/user/projects/54885d5a746eb514b0000279#tab-security

Maybe someone can take a look?

[2015-10-20 09:54] ins0 commented on #507
looks like we are not affected per se, as we use a custom login page. checking ``https://zfmodules.com/user/login`` can't be manually requested because the template can't be resolved.

this counts for both errors as far i can tell

[2015-10-20 10:04] Ocramius commented on #507
@localheinz maybe we should add `roave/security-advisories` + `composer update`? Wanna send a PR with that change?

[2015-10-20 10:05] localheinz commented on #507
@Ocramius

Sounds great, but can't spare time today - maybe later tonight?

[2015-10-20 10:06] ins0 commented on #507
@localheinz @Ocramius i can send a pr in 1 hour

[2015-10-20 10:08] Ocramius commented on #507
Thanks to both :-) I will likely merge it in the morning tho: 3:08 in LV...

[2015-10-20 10:19] gianarb commented on #507
I don't see this page o.O

[2015-10-20 10:30] ins0 commented on #507
@gianarb me either, you need to add the project with the composer.json url :smiley:

[2015-10-20 10:33] gianarb commented on #507
np another time :P

[2015-10-20 10:34] Ocramius commented on #507
Here:

![security issues](http://marco-pivetta.com/screen/caps/c49749.png)

[2015-10-20 10:43] gianarb commented on #507
:+1: Thanks

[2015-10-27 07:08] #507 closed

[2016-03-20 02:18] kelsey9649 commented on #495
+1

[2016-09-06 12:33] flod1 opened #513 "Add a new Zend Module"
Hy,
how can i add my zend framework 2 module to "modules.zendframework.com´"

https://github.com/flod1/fbpage

i got only an error on:

https://zfmodules.com/flod1/fbpage

[2016-09-07 05:08] flod1 commented on #513
i have found it.
step 3. register on  https://zfmodules.com/user
step 4. add module to list

[2016-09-07 05:08] #513 closed

[2017-10-18 13:11] #109 closed

[2019-02-04 17:46] #431 closed